  .transaction-panel {
    height: auto;
    line-height: 2em;
    padding: 10px;
    width: calc(100vw - 20px);
    max-width: 800px;
    overflow: hidden;
    margin-bottom: 1px;
    font-size: 1.2em;
    align-self: center;
    background: white;
  }

  .transaction-panel .date-label {
    text-align: left;
    color: #2c3e50;
    padding-left: 5px;
    background-color: #ecf0f1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .transaction-panel .info {
      display: flex;
      flex-direction: row;
    }

.transaction-panel .direction-label {
    padding-right: 5px;
    padding-left: 5px;
    margin: 5px;
    color: white;
    border-radius: 3px
  }

  .transaction-panel .amount-label {
    padding-right: 5px;
    padding-left: 5px;
    margin: 5px;
    color: #2c3e50;
    border-radius: 3px;
    font-size: 1.2em;
  }

  .transaction-panel .block-label {
    flex: 1;
    color: #bdc3c7;
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    margin: 5px;
    border-radius: 3px;
  }